* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/dark.png);
    background-repeat: repeat;
    background-size: 40% 40%;
}

.container {
    // min-width: 320px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    z-index: 50;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
}

#light {
    position: absolute;
    top: 10%;
    left: 0;
    height: 35em;
}

#heading {
    position: absolute;
    font-family: 'Days One', sans-serif;
    text-shadow: 2px 5px 10px black;
    opacity: 0.85;
    font-size: 7vw;
    left: 25%;
    top: 50%;
    color: white;
}

#b_planet {
    position: absolute;
    height: 100vh;
    bottom: 0;
}

#s_planet {
    position: absolute;
    height: 20vh;
    right: 10%;
    top: 40%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 1.5em;
}

// //media Queries
// @media only screen and(min-width:658px) {
//     #light {
//         top: 10%;
//         left: 0;
//         height: 35em;
//     }
//     #heading {
//         font-size: 7vw;
//         left: 25%;
//         top: 50%;
//     }
//     #b_planet {
//         height: 100vh;
//         bottom: 0;
//     }
//     #s_planet {
//         height: 20vh;
//         right: 10%;
//         top: 40%;
//     }
// }
// @media only screen and(max-width:425px) {
//     #b_planet {
//         height: 75vh;
//     }
//     #s_planet {
//         top: 20%;
//         height: 12vh;
//     }
//     #light {
//         top: 60%;
//         left: 10%;
//         height: 15em;
//     }
//     #heading {
//         font-size: 10vw;
//         left: 20%;
//         top: 60%;
//         color: white;
//     }
// }
// @media only screen and(max-width:658px) and (min-width:425px) {
//     #b_planet {
//         height: 75vh;
//     }
//     #s_planet {
//         top: 20%;
//         height: 12vh;
//     }
//     #light {
//         top: 30%;
//         left: -7%;
//         height: 30em;
//     }
// }